# Tools for Data Science > Week 6 > Assignment

### This notebook contains markdown or code related to exercises from the assignment. There are a total of 12 exercises in this assignment and they are :
- Exercise 2 : Create a markdown cell with the title of the notebook. (1 pt)
- Exercise 3 : Create a markdown cell for an introduction. (1 pt)
- Exercise 4 : Create a markdown cell to list data science languages. (3 pts)
- Exercise 5 : Create a markdown cell to list data science libraries. (3 pts)
- Exercise 6 : Create a markdown cell with a table of Data Science tools. (3 pts)
- Exercise 7 : Create a markdown cell introducing arithmetic expression examples. (1 pt)
- Exercise 8 : Create a code cell to multiply and add numbers. (2 pts)
- Exercise 9 : Create a code cell to convert minutes to hours. (2 pts)
- Exercise 10 :Insert a markdown cell to list Objectives. (3 pts)
- Exercise 11 : Create a markdown cell to indicate the Author’s name. (2 pts)
- Exercise 12 : Share your notebook through GitHub (3 pts)
- Exercise 13 : Take a screenshot of the first page of the notebook. (1 pt)

### Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
Some of the popular languages that Data Scientists use are:

- Python
- R
- C++
- Java
- Apache Spark
- Scala

### Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
##### Some of the popular python libraries are
- pandas
- numpy
- seaborn
- scikit-learn
- pyplot

##### Some of the popular R libraries are 
- ggplot2
- dplyr

### Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
|Data Management|Data Integration and Transformation|Data Visualization|Model Building|Model Deployment|Model Monitoring|
|---------------|-----------------------------------|-----------------|--------------|----------------|----------------|
|MYSql|Apache Airflow|Hue|Apache Pyspark|Apache SparkML|Apache SparkML|
|CouchDB|Apache SparkSQL||Jupyter||IBM AI Explainability 360|
|PostgreSQL|
|MongoDB|

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

In [4]:
2+(3-4)*10/100%10

11.9

### Exercise 8 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

In [5]:
(1000000000000000*10000000000000000000)+(1000*10)

10000000000000000000000000000010000

### Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [18]:
min = input("Enter minutes:")
hrs = int(min) / 60
print(int(min) , "is equal to" , int(hrs) , "hrs")

Enter minutes: 1999

1999 is equal to 33 hrs

### Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
- Exercise 2 : Create a markdown cell with the title of the notebook. (1 pt)
- Exercise 3 : Create a markdown cell for an introduction. (1 pt)
- Exercise 4 : Create a markdown cell to list data science languages. (3 pts)
- Exercise 5 : Create a markdown cell to list data science libraries. (3 pts)
- Exercise 6 : Create a markdown cell with a table of Data Science tools. (3 pts)
- Exercise 7 : Create a markdown cell introducing arithmetic expression examples. (1 pt)
- Exercise 8 : Create a code cell to multiply and add numbers. (2 pts)
- Exercise 9 : Create a code cell to convert minutes to hours. (2 pts)
- Exercise 10 :Insert a markdown cell to list Objectives. (3 pts)
- Exercise 11 : Create a markdown cell to indicate the Author’s name. (2 pts)
- Exercise 12 : Share your notebook through GitHub (3 pts)
- Exercise 13 : Take a screenshot of the first page of the notebook. (1 pt)

# Author Name
Santhoshnath Guntur

In [ ]:
### Exercise 12 : Share your notebook through GitHub (3 pts)

In [19]:
### Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)